name: Check generated files

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"
  schedule:
    - cron: "00 13 * * 1"

  workflow_dispatch: {}

jobs:
  check-go-generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Go
        uses: WillAbides/setup-go-faster@v1.11.0
        with:
          go-version-file: go.mod

      - name: Cache Go files
        uses: capnspacehook/cache-go@v1

      # Install any tools 'go generate' uses here

      - name: Ensure 'go generate' is clean
        run: |
          # shellcheck disable=SC2046
          go generate $(go list ./...)
          echo
          echo

          if ! git diff --name-only --exit-code; then
            echo "The files above need updating. Please run 'go generate'."
            exit 1
          fi
